*.a
*.o
*.eep
*.elf
*.hex
*.pyc
*.d
whistler.sublime-*
.AppleDouble
.DS_*
*.dblite
*.os
*_wrap.cxx
rpi/nrfl.py
.*project
workspace/.*

*.d

*.d

arduino/whistler-arduino/whistler_firmware/.settings/de.innot.avreclipse.core.prefs
